*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::placeholder{
  padding: 10px;
}
body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}
.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.left-col{
  width: 100%;
  height: 240px;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 4%,  rgba(33,9,47,1) 75%, rgba(33,9,47,1) 94%);
  
}

.right-col{
  width: 100%;
  background-color: #fff;
}

@media only screen and (min-width: 768px){
  .wrapper{
    flex-direction: row;
  }
  .left-col{
    min-height: 100vh;
    width: 40%;
  }

  .right-col{
    width: 60%;
    min-height: 100vh;
  }
}










  





  